In [17]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

## xのパラメータに成形

In [53]:
def format_data(df):
    df = df[["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
    df = df.replace("male", 0).replace("female", 1)
    df = df.replace("S", 0).replace("C", 1).replace("Q", 2)
    return df

In [57]:
train_data = pd.read_csv("data/train.csv")
train_data = train_data[["PassengerId", "Survived", "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
train_data = train_data.fillna(train_data.mean())
train_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [39]:
x_train = format_data(train_data)
x_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500         0
1       1    1  38.0      1      0  71.2833         1
2       3    1  26.0      0      0   7.9250         0
3       1    1  35.0      1      0  53.1000         0
4       3    0  35.0      0      0   8.0500         0

In [44]:
y_train = train_data["Survived"]
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [54]:
clf = LogisticRegression(penalty='l2', solver='sag', random_state=0)
clf.fit(x_train, y_train)
clf.score(x_train, y_train)

/home/rikuhidaka/.local/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

0.6896067415730337

In [64]:
test_data = pd.read_csv("data/test.csv")
test_data = test_data.fillna(test_data.mean())
x_test = format_data(test_data)
y_pred = clf.predict(x_test)

In [65]:
submission = pd.DataFrame(test_data["PassengerId"])
submission["Survived"] = list(map(int, y_pred))
submission.to_csv("submission.csv", index=False)